/* index.css */

.daily-progress-report-container {
    margin: 20px;
}

/*.daily-progress-report-container table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*}*/

.daily-progress-report-container th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.daily-progress-report-container th {
    background-color: lightgray;
}

.daily-progress-report-container input[type="text"],
.daily-progress-report-container input[type="number"],
.daily-progress-report-container select {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
}

.daily-progress-report-container button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.daily-progress-report-container button:hover {
    background-color: #45a049;
}

.add-row button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.add-row td {
    border: white;
    text-align: right;
}

.save-record button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.save-record {
    border: white;
    padding: 20px;
    text-align: right;
}

.sub-table-section {
    display: flex;
    justify-content: space-around; /* Adjusts the spacing between tables */
    padding: 10px;
    width: 100%;
}

.sub-tables{
    flex: 1; /* Makes each table container take up equal space */
    padding: 10px; /* Adds some space around the tables */
    overflow-y: auto;
    max-height: 100px;
}

.sub-tables tr td {
    max-height: 10px;
}

.boq-item-table{
    padding: 10px; /* Adds some space around the tables */
    width: 100%;
}

.boq-item-table-section{
    display: flex;
    justify-content: space-around; /* Adjusts the spacing between tables */
    padding: 10px;
    width: 100%;
}

.summary-table {
    width: 100%;
    padding: 10px;
}

.summary-table td, th{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.summary-table th {
    background-color: lightgray;
}

.summary-section {
    padding: 10px;
    width: 100%;
}

.work-item-section {
    display: flex;
    padding: 40px 20px 20px;
}

.work-item-section h4 {
    border: 1px solid black;
    margin: 2px;
    text-align: center;
    width: 20%;
    background-color: lightgray;
}

.work-item-section select {
    margin: 2px;
    text-align: left;
    width: 80%;
}